
                /* Body */
body{
    padding: 16px;
    font-family: Arial;
}

                /* Main Header */
#main-header{
    text-align: center;
    padding: 16px 32px;
    background-color: #dbdbdb;
}

                /* Main */
main{
    display: block;
}
.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}
#right-content, #left-content{
    flex: 1;
    padding: 16px;
}
#introduction-article{
    text-align: center;
}

                /* Left Content */
/* Form */
form{
    background-color: #dbdbdb;
    padding: 24px;
    border-radius: 10px;
    margin: 8px 0px;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.form-group input{
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    padding: 8px;
}
form label{
    font-weight: bolder;
}
.form-gender{
    padding: 10px 0px;
}
.form-gender p{
    font-size: 17px;
    font-weight: bold;
}
.gender-icon{
    width: 32px;
}
/* Form Button */
.form-button{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 16px;
    justify-content: center;
}
.form-button .button{
    border: none;
    padding: 8px;
    border-radius: 10px;
}
.form-button #submit-button{
    background-color: rgb(236, 213, 79);
}
.form-button #reset-button{
    background-color: rgb(255, 255, 255);
}

                /* Right Content */
.result-section{
    text-align: center;
    margin: 8px 0px;
    padding: 24px;
    background-color: #dbdbdb;
    border-radius: 10px;
}
.result-section #type-result{
    font-weight: bold;
}
.result-section #result{
    font-size: 72px;
    font-weight: normal;
    font-family: monospace;
}
.result-section p{
    font-size: large;
}

                /* Footer */
footer{
    text-align: center;
    padding: 16px 32px;
    margin-top: 32px;
    background-color: #dbdbdb;
}

                /* Responsive */
@media only screen and (max-width: 650px) {
    /* Main */
    .content-container{
        flex-direction: column;
    }
    /* Left Content */

    /* Right COntent */
    .result-section #result{
        font-weight: bold;
        font-family: monospace;
    }
}